{{>header}}
    <div class="container">
        <h3>Ingresar al Chat</h3>  
        <form id="formulario" action="/chat">
            <input type="text" id="nombre" placeholder="Nombre de usuario" name="nombre" >   		
            <button> enviar </button>   		
        </form>
        <div id="chat"></div>
    </div>
{{>footer}}